<div class="container">

    <div class="row">

        <div class="col-md-6">

            <div class="contorno">
              <h1>Lista de dietas</h1>
          </div>

          <div class="list-group">
              <button *ngFor="let dieta of dietas"
                  class="custom-button"
                  (click)="chooseDieta(dieta)"
                  [class.active]="dieta === dietaElegida">{{dieta.nombre}}</button>
          </div>
          <br>
          <button type="button" class="custom-button" (click)="addDieta()">Añadir Dieta</button>

        </div>

        <div class="col-md-6" *ngIf="dietaElegida">

            <div *ngIf="isTrainer()">
            <app-detalle-dieta [dieta]="dietaElegida"
                  (dietaEliminado)="deleteDieta($event)"
                  (dietaEditado)="editDieta($event)"
              ></app-detalle-dieta>

            </div>

        </div>

    </div>

</div>
