
<!--
   put-dieta.component.html 
<form (ngSubmit)="onSubmit()">
  <label for="cliente">Seleccionar cliente:</label>
  <select id="cliente" [(ngModel)]="selectedCliente">
    <option *ngFor="let cliente of clientes" [value]="cliente">{{ cliente.nombre }}</option>
  </select>
-->
  <!--
  <label for="nombre">Nombre de la dieta:</label>
  <input id="nombre" type="text" [(ngModel)]="dieta.nombre" name="nombre" required>
-->
  <!-- Otros campos para los detalles de la dieta 
  <button type="submit">Asociar Dieta</button>
</form> -->
